@model  MVCWebAppTutorial.Models.ClsDataAnnotation

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(model => model.EmployeeId) &nbsp; @Html.TextAreaFor(model => model.EmployeeId)
        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.EmployeeName) &nbsp; @Html.TextAreaFor(model => model.EmployeeName)
        @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.EmployeeAge) &nbsp; @Html.TextAreaFor(model => model.EmployeeAge)
        @Html.ValidationMessageFor(model => model.EmployeeAge, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.EmployeeGender) &nbsp; @Html.TextAreaFor(model => model.EmployeeGender)
        @Html.ValidationMessageFor(model => model.EmployeeGender, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.EmployeeEmail) &nbsp; @Html.TextAreaFor(model => model.EmployeeEmail)
        @Html.ValidationMessageFor(model => model.EmployeeEmail, "", new { @class = "text-danger" })
    </p>

    <input type="submit" value="Submit" />
    @Html.Raw(ViewData["SuccessMessage"])

}